<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Liar's Poker</title>
</head>

<body>
  <h1>Liar's Poker For Da Boys</h1>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      document.getElementById("pwform").addEventListener("submit", (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        let body = {};
        for (const [key, value] of formData) {
          body[key] = value;
        }
        e.target.reset();
        fetch("/login", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(body)
        })
          .then(async (res) => {
            if (!res.ok) throw Error(res.status);
            let json = await res.json();
            if (!json || json.result === "incorrect") return "Incorrect password.";
            else if (json.result === "correct" && json.forward) {
              window.location.replace(json.forward);
              return "";
            }
            return "Error occurred with login."
          }, () => "Error occurred with login.")
          .catch(() => "Invalid password.")
          .then((result) => {
            if (typeof result === "string") {
              document.getElementById("login-result").innerHTML = result;
            }
          })
        return false;
      });
    });
  </script>
  <form id="pwform">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required autocomplete="on" />
    <input type="submit" value="Submit" />
  </form>
  <br>
  <p id="login-result"></p>
</body>
