<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Liar's Poker</title>
</head>

<body>
  <h1>Liar's Poker For Da Boys</h1>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      document.getElementById("pwform").addEventListener("submit", (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        let body = {};
        for (const [key, value] of formData) {
          body[key] = value;
        }
        let result = "";
        fetch("/login", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body)
        })
          .catch((e) => result = "Error occurred with login")
          .then((res) => {
            if (res.ok) return res;
            throw Error(res.status);
          })
          .catch((status) => result = "Invalid password entered")
          .then((res) => res.json())
          .catch(() => console.error("Failed to read response"))
          .then((data) => {
            if (data?.result === "incorrect") result = "Incorrect password";
          })
          .finally(() => {
            document.getElementById("login-result").innerHTML = result;
          })
        return false;
      });
    });
  </script>
  <form id="pwform">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required autocomplete="on" />
    <input type="submit" value="Submit" />
  </form>
  <br>
  <p id="login-result"></p>
</body>
