<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Liar's Poker</title>
</head>

<body>
  <h1>Lobby List</h1>
  <ul>
  {% for lobby in lobbies %}
  <li><a href="/lobby/{{ lobby }}">{{ lobby }}</a></li>
  {% else %}
  <li>No lobbies available.</li>
  {% endfor %}
  </ul>
</body>
